RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteCond %{SERVER_PORT} 8080
RewriteRule ^(.*)$ https://www.mcclientcreator.org/$1 [R=301,L]

AddType application/x-httpd-php -htm .html

ErrorDocument 400 https://www.mcclientcreator.org/errors/400
ErrorDocument 401 https://www.mcclientcreator.org/errors/401
ErrorDocument 403 https://www.mcclientcreator.org/errors/403
ErrorDocument 404 https://www.mcclientcreator.org/errors/404
ErrorDocument 500 https://www.mcclientcreator.org/errors/500
ErrorDocument 503 https://www.mcclientcreator.org/errors/503
